<a href="https://colab.research.google.com/github/harikareddie03/hackathon/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

ev_sales = pd.DataFrame({
    'Sale_ID': ['S001', 'S002', 'S003', 'S004', 'S005', None],
    'Model': ['Leaf', 'Model 3', 'Kona', 'e-Verito', 'Nexon EV', 'ZS EV'],
    'Brand': ['Nissan', 'Tesla', 'Hyundai', 'Mahindra', 'Tata', 'MG'],
    'Price': [2800000, 4500000, 3200000, None, 1500000, 2500000],
    'Units_Sold': [3, 2, 1, 2, None, 1],
    'Sale_Date': ['2024-04-01', '2024-04-01', '2024/04/02', '2024-04-03', '2024-04-04', '2024-04-04'],
    'City': ['Bangalore', 'Mumbai', 'Bangalore', 'Hyderabad', 'Hyderabad', 'Pune']
})


city_info = pd.DataFrame({
    'City': ['Bangalore', 'Mumbai', 'Hyderabad', 'Pune'],
    'Region': ['South', 'West', 'South', 'West'],
    'Branch_Manager': ['Anil', 'Priya', 'Imran', 'Kavita']
})

# 1. Handling Missing Data
# Check how many missing values are there in each column of the dataset.
# Drop any rows where Model or City is missing.
# Fill missing Units_Sold with the median units sold.
# Fill missing Price with the average price per Brand.
# Fill missing Sale_ID with 'Unknown'.


#  2. Data Type Conversion
# Convert the Price and Units_Sold columns to numeric types.
# Convert the Sale_Date column into datetime format.
# Convert City and Brand columns to string type.
# Check the data types of all columns and convert if needed.
# Extract the year from Sale_Date and create a new column.

In [6]:
ev_sales.isnull().sum()

Sale_ID       1
Model         0
Brand         0
Price         1
Units_Sold    1
Sale_Date     0
City          0
dtype: int64

In [8]:
ev_sales['Model'].dropna()

0        Leaf
1     Model 3
2        Kona
3    e-Verito
4    Nexon EV
5       ZS EV
Name: Model, dtype: object

In [11]:
ev_sales['Units_Sold']=ev_sales['Units_Sold'].fillna(ev_sales['Units_Sold'].median())
ev_sales['Units_Sold']

0    3.0
1    2.0
2    1.0
3    2.0
4    2.0
5    1.0
Name: Units_Sold, dtype: float64

In [15]:
ev_sales['Price']=ev_sales['Price'].fillna(ev_sales['Price'].avg())
ev_sales['Price']

AttributeError: 'Series' object has no attribute 'avg'

In [18]:
ev_sales['Sale_ID']=ev_sales['Sale_ID'].fillna('Unknown')
ev_sales['Sale_ID']

0       S001
1       S002
2       S003
3       S004
4       S005
5    Unknown
Name: Sale_ID, dtype: object


#  2. Data Type Conversion
# Convert the Price and Units_Sold columns to numeric types.
# Convert the Sale_Date column into datetime format.
# Convert City and Brand columns to string type.
# Check the data types of all columns and convert if needed.
# Extract the year from Sale_Date and create a new column.

In [19]:
ev_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sale_ID     6 non-null      object
 1   Model       6 non-null      object
 2   Brand       6 non-null      object
 3   Price       5 non-null      float64
 4   Units_Sold  6 non-null      float64
 5   Sale_Date   6 non-null      object
 6   City        6 non-null      object
dtypes: float64(2), object(5)
memory usage: 468.0+ bytes

In [27]:
ev_sales['Price'].astype(int)
ev_sales.info()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [28]:
ev_sales['Units_Sold'].astype(int)
ev_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sale_ID     6 non-null      object
 1   Model       6 non-null      object
 2   Brand       6 non-null      object
 3   Price       5 non-null      float64
 4   Units_Sold  6 non-null      float64
 5   Sale_Date   6 non-null      object
 6   City        6 non-null      object
dtypes: float64(2), object(5)
memory usage: 468.0+ bytes

In [31]:
# 3.  Renaming, Sorting, and Filtering
# Rename Sale_ID to Transaction_ID.
# Sort the dataset by Units_Sold in descending order.
# Filter and show only rows where Brand is 'Tata'.
# Filter all sales where the Price is above ₹30,00,000.
# Rename columns to follow snake_case format (e.g., Sale_Date → sale_date).
# 4.  apply(), map(), lambda
# Fill missing Price or Units_Sold with appropriate defaults.
# Create a new column Revenue = Price * Units_Sold.
# Flag cars priced over ₹30 lakhs as 'Premium', else 'Standard'.
# Capitalize all brand names using map().
# Count the number of characters in each Model name.

In [35]:
ev_sales.rename(columns={'Sale_ID':'Transaction_ID'},inplace=True)
ev_sales

,Transaction_ID,Model,Brand,Price,Units_Sold,Sale_Date,City
0,S001,Leaf,Nissan,2800000.0,3.0,2024-04-01,Bangalore
1,S002,Model 3,Tesla,4500000.0,2.0,2024-04-01,Mumbai
2,S003,Kona,Hyundai,3200000.0,1.0,2024/04/02,Bangalore
3,S004,e-Verito,Mahindra,NaN,2.0,2024-04-03,Hyderabad
4,S005,Nexon EV,Tata,1500000.0,2.0,2024-04-04,Hyderabad
5,Unknown,ZS EV,MG,2500000.0,1.0,2024-04-04,Pune

In [40]:
ev_sales_sorted = ev_sales.sort_values(by='Units_Sold', ascending=False)
print(ev_sales_sorted['Units_Sold'])

0    3.0
1    2.0
3    2.0
4    2.0
2    1.0
5    1.0
Name: Units_Sold, dtype: float64

In [42]:
# Filter and show only rows where Brand is 'Tata'.
filter_data=ev_sales['Brand'].apply(lambda x:x=='Tata')
filter_data

0    False
1    False
2    False
3    False
4     True
5    False
Name: Brand, dtype: bool

In [43]:
# Filter all sales where the Price is above ₹30,00,000.
filter_data=ev_sales['Price'].apply(lambda x:x>30000000)
filter_data

0    False
1    False
2    False
3    False
4    False
5    False
Name: Price, dtype: bool

In [46]:
# Rename columns to follow snake_case format
ev_sales.columns = ev_sales.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w]', '', regex=True)
ev_sales.columns

Index(['transaction_id', 'model', 'brand', 'price', 'units_sold', 'sale_date',
       'city'],
      dtype='object')

In [47]:
#  Create a new column Revenue = Price * Units_Sold.
ev_sales['Revenue']=ev_sales['price']*ev_sales['units_sold']
ev_sales['Revenue']

0    8400000.0
1    9000000.0
2    3200000.0
3          NaN
4    3000000.0
5    2500000.0
Name: Revenue, dtype: float64

In [51]:
# Flag cars priced over ₹30 lakhs as 'Premium', else 'Standard'.
# Capitalize all brand names using map().
# Count the number of characters in each Model name.
ev_sales['count']=ev_sales['model'].apply(lambda x:len(x))
ev_sales['count']
ev_sales['brand']=ev_sales['brand'].map(lambda x:x.capitalize())
ev_sales['brand']

0      Nissan
1       Tesla
2     Hyundai
3    Mahindra
4        Tata
5          Mg
Name: brand, dtype: object

In [ ]:
# Working with Dates and Times
# Convert Sale_Date column to datetime.
# Extract day, weekday, and week number from the date.
# Count how many EVs were sold on a Sunday.
# Filter sales from the first week of April 2024.
# Create a column showing the month name of each sale.